html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    font-size: 24px;

}

#svg-container {
    height: 100%;
    width: 100%;
}

#panel {
    color: white;
}

#panel-content {
    padding: 10px 30px;
}